@using System.Threading
@model List<MvcBasic.Models.Comment>

@{
    ViewBag.Title = "title";
    var counter = 0;
}

<h2>All Comment</h2>


@foreach (var c in Model)
{
    counter++;

    <p>
        @Html.ActionLink(
           c.Body,
           "NavigationWithComment",
           "Articles",
           new { id = c.Id },
           new { tabindex = counter })
    </p>
}
