@{
    ViewBag.Title = "Cookie";
}

<h2>Cookie</h2>

@using (Html.BeginForm())
{
    @Html.Label("email", "メールアドレス")
    @Html.TextBox("email", (string)ViewBag.Email, new {@class = "form-control"})
    <input type="submit" value="登録"/>
}
