@model IEnumerable<System.Web.Mvc.SelectListItem>

@{
    ViewBag.Title = "AjaxLink";
}

<h2>AjaxLink</h2>
<p>@DateTime.Now.ToLocalTime()</p>

<div class="btn-group">
    @foreach (var item in Model)
    {
        <button type="button" class="btn btn-info btn-search" data-category="@item.Value">@item.Text</button>
    }
</div>
<div id="result">
    @section scripts
    {
        <script>
    $(function() {
            // . = class, # = id selecter
            // selected CategoryId retreieve from button attribute "data-category".
            $('.btn-search').click(function(e) {
                $('#result').load('/Ajax/AjaxSearch/' + $(this).data('category')); // {controller}/{action}/{category}
            });
        });
        </script>
    }
</div>
