@{
    ViewBag.Title = "MvcBasic - Admin - Controller";
}

<h2>MvcBasic - Admin - Controller</h2>

<p>@Html.ActionLink("Default Area", "Index", "Area", new { area = "" }, null)</p>
<p>@Html.ActionLink("Admin Area", "Index", "Area", new { area = "Admin" }, null)</p>
