@{
    ViewBag.Title = "Jquerymobile";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<h2>Jquerymobile</h2>

<table id="tbl" data-role="table" data-mode="columntoggle" class="ui-responsive">
    <thead>
    <tr>
        <th><addr title="ISBN">ISBN</addr></th>
        <th>Title</th>
        <th data-priority="1">Publisher</th>
        <th data-priority="2">Price</th>
        <th data-priority="3">Distrite</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>978-4-7741-6566-0</td>
        <td>PHPライブラリ＆サンプル実践活用</td>
        <td>技術評論社</td>
        <td>2480</td>
        <td>2014-06-24</td>
    </tr>
    </tbody>
</table>